output/GET_employees.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="color" type="xs:string" />
                            <xs:element name="year" type="xs:unsignedShort" />
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="id" type="xs:unsignedByte" />
                            <xs:element name="pantone_value" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="support">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="text" type="xs:string" />
                            <xs:element name="url" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>